<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>TestFilter</servlet-name>
		<servlet-class>com.example.web.FilterTest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestFilter</servlet-name>
		<url-pattern>/testFilter.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>RequestFilter</filter-name>
		<filter-class>com.example.web.RequestFilter</filter-class>
		<init-param>
			<param-name>LogFileName</param-name>
			<param-value>UserLog.txt</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

</web-app>
