<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>TestJspInit</servlet-name>
		<jsp-file>/testInit.jsp</jsp-file>
		<init-param>
			<param-name>username</param-name>
			<param-value>leehyunkeun</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJspInit</servlet-name>
		<url-pattern>/testInit.jsp</url-pattern>
	</servlet-mapping>

<!--
	Scripting-invalid, el-ignored
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>true</scripting-invalid>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
 -->


</web-app>
