<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>TestJspInit</servlet-name>
		<jsp-file>/testInit.jsp</jsp-file>
		<init-param>
			<param-name>username</param-name>
			<param-value>leehyunkeun</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJspInit</servlet-name>
		<url-pattern>/testInit.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestJspBean</servlet-name>
		<servlet-class>com.example.web.BeanTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJspBean</servlet-name>
		<url-pattern>/testBean.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>Email</param-name>
		<param-value>lee@naver.com</param-value>
	</context-param>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorPage.jsp</location>
	</error-page>
<!--
	Scripting-invalid, el-ignored
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>true</scripting-invalid>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
 -->

</web-app>
