<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>Ch3 Beer</servlet-name>
		<servlet-class>com.example.web.BeerSelect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ch3 Beer</servlet-name>
		<url-pattern>/SelectBeer.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ch4 WebApp</servlet-name>
		<servlet-class>com.example.web.WebApp</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>leehyunkeun@naver.com</param-value>
		</init-param>
		<init-param>
			<param-name>mainEmail</param-name>
			<param-value>nikerun23@naver.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ch4 WebApp</servlet-name>
		<url-pattern>/WebApp.do</url-pattern>
	</servlet-mapping>

</web-app>
